VITE_KAKAO_MAP_KEY=여기에_카카오_JavaScript_키를_넣으세요
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_WRITE_ENABLED=true
VITE_SUPABASE_ENABLED=true
VITE_GA4_MEASUREMENT_ID=G-R566ZLV2FF
VITE_GTM_ID=GTM-NKGKGRC7
VITE_CONTENTSQUARE_ID=7b7e7d0d2b366
VITE_HOTJAR_ID=
VITE_HOTJAR_VERSION=6
